name: CI Test & Coverage

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm install

      - name: Run tests with coverage
        run: |
          npm test -- --coverage
        continue-on-error: false

      - name: Upload coverage as artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/

      - name: Generate Coverage Badge
        uses: tj-actions/coverage-badge@v2
        with:
          coverage-summary: coverage/coverage-summary.json

      - name: Update README with badge
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "docs: update coverage badge"
          branch: update-coverage-badge
          title: "Update Coverage Badge"
          body: "Auto update coverage badge."
